name: "middit"
port: "8080"
mode: "dev"
machine_id: 1
start_time: "2024-04-14"

log:
  level: "info"
  filename: "web_app.log"
  max_size: 200
  max_age: 30
  max_backups: 7
mysql:
  host: "localhost"
  port: 3306
  user: "root"
  password: "030505yzh123"
  dbname: "mim"
  max_open_conns: 200
  max_idle_conns: 50
redis:
  Addr: "localhost:6379"
  db: 0
websocket:
  read_buffer_size: 1024
  write_buffer_size: 1024
  address: ":8082"
  ticker_period: 5m
  read_deadline: 10s
  write_deadline: 10s
  max_retries: 3
  channel_size: 50